@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
   background-color: var(--background-color);
   color: var(--text-color);
}

:root {
  --primary-color: #1c1c1c;
  --secondary-color: #C8AD7F;
  --background-color: #000000;
  --text-color: #FAF9F6;
  
   --gradient-primary: linear-gradient(135deg, #0ea5e9 0%, #6366f1 100%);
  --gradient-purple: linear-gradient(135deg, #4f46e5 0%, #7c3aed 100%);
}


.theme-button {
  background-color: var(--secondary-color);
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}


.hero-gradient {
  background: radial-gradient(
    circle at 50% 0%,
    rgba(99, 102, 241, 0.15) 0%,
    rgba(99, 102, 241, 0.05) 30%,
    rgba(0, 0, 0, 0) 70%
  );
}

.dotted-grid {
  background-image: radial-gradient(circle, #ffffff 1px, transparent 1px);
  background-size: 24px 24px;
  opacity: 0.1;
}

